<p>"The light, it's so bright.. Everything is white? Am I in heaven? No, there's something on my arm. Where am I? Something must have happened. What has happened? I... I... Who am I?"</p>

<style type="text/css">

    .content {
        text-align: center;
        font-size: 2em; 
        width: 66%;
        margin: auto;
        height: 100vh;
        background: white;
        padding: 30vh 0;
    }

    .content a {
        color: $textcolor;
        text-decoration: none;
        border: 1px solid $textcolor;
        max-width: calc(300px - 2em); 
    }
    
</style>