<p>There she was, laying in a hospital bed. For the past four weeks she hasn’t shown any sign of life, just laying there on the bed. The machines next to her bed kept beeping in an uninterrupted, ever-going rhythm. Every few hours a nurse comes by to see that everything is still the same. </p>

<p>Thursday. Again. The count has been lost. Then suddenly she grasps for air. Her eyes are wide open, staring at the ceiling. She has awakened</p>

<script type="text/javascript">
    
</script>

<style type="text/css">
    

</style>