<!-- <svg id="svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1280 800" xml:space="preserve">
    <polyline id="pulse"  stroke-miterlimit="10" points="0,400 382,400.5 401.9,348.2 454,452.5 496.7,256 578.4,655.1 665.3,49.9 765.3,460.3 819.3,343.2 841.9,400.5 1280,400 "/>
</svg>

  <style type="text/css">

    #svg, 
    #pulse {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
    }

    #pulse {
      fill: #FFF;
      stroke: #000;
      stroke-dasharray: 10000;
      stroke-dashoffset: 1000;
      -webkit-animation: dash 1s linear infinite;
      animation: dash 1s linear infinite;
    }

    @-webkit-keyframes dash {
      0% { stroke-dashoffset:10000; } 
      50%         stroke-dashoffset:0;
      }
    }
  </style> -->

<p>There she was, laying in a hospital bed. For the past four weeks she hasn’t shown any sign of life, just laying there on the bed. The machines next to her bed kept beeping in an uninterrupted, ever-going rhythm. Every few hours a nurse comes by to see that everything is still the same. </p>

<p>Thursday. Again. The count has been lost. Then suddenly she grasps for air. Her eyes are wide open, staring at the ceiling. She has awakened</p>

<script type="text/javascript">
    
</script>

<style type="text/css">

    .content {
        text-align: center;
        font-size: 2em; 
        width: 66%;
        margin: auto;
        height: 100vh;
        background: white;
        padding: 20vh 0;
    }

    .content a {
        color: $textcolor;
        text-decoration: none;
        border: 1px solid $textcolor;
        max-width: calc(300px - 2em); 
    }
    
</style>