<p>“She has just awakened”. “Good, that’s very good” says a man with a deep voice. “Please leave us for a moment”.</p> 

<p>Two men dressed in black enter the room and take place on side of the bed. They are dressed in long coats and wearing hats and sunglasses. “Who are you?” she asked.  “Doesn’t matter. What matters is who you are, so tell us”. It wasn’t a question, but an order. The men look vaguely familiar, why do they want to know who she is? Then the question hits her. She falls back into her mind, staring in front of her. ‘What has happened? Who am I? Why am I here?"</p>

<style type="text/css">

    .content {
        text-align: center;
        font-size: 2em; 
        width: 66%;
        margin: auto;
        height: 100vh;
        background: white;
        padding: 15vh 0;
    }

    .content a {
        color: $textcolor;
        text-decoration: none;
        border: 1px solid $textcolor;
        max-width: calc(300px - 2em); 
    }

</style>