<p>"My dad was pushing the swing as high as I never have been before, I was screaming from excitement. It was such a beautiful afternoon in the autumn, the playground was covered in warm colors from the leaves.</p>

<!-- (conditional) -->
<p>Suddenly the pushing of the swing stopped. Her father peered at a car pulling up to the playground. The joy on his face was gone, with a straight face he told ... to stay here and walked down to the car. Two men stepped out of the car and walked towards him. </p>

<p>"The man in the hospital! They were dressed the same as the men stepping out of the car! Who are they?"</p>

<style type="text/css">

    body {
        background-image: url('/img/swing.jpg');
    }

</style>